body {
  margin: 0;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
}

.top-bar {
  border: #2c2c2b;
  border-radius: 5px;
  width: 99%;
  position: fixed;
  background-color: #2c2c2b;
  z-index: 1;
  margin: 3px;
}

.card {
  margin: 1.5em;
  &-title {
    width: 35em;
  }

  &-p {
    line-height: 1.5;
  }

  &-button-red {
    &:hover {
      background: red !important;
    }
    background: red;
  }
}

.content {
  margin-top: 5em;
}
